/* General Formatting of Components*/ 

.Container{
  display: flex;
  margin: 0px;
  flex-direction: column;
  flex-wrap: nowrap;
}

.Navigation{
  position: fixed;
  background-color: #ffffff;
  /* background-color: lightgrey; */
  height: 56px;
  width: 100%;
  z-index: 1;
}

.Paths{
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  /* background-color: lightblue; */
  text-align: center;
  height: 100vh;
}

/* Indivdual Formatting Navbar*/
nav ul {
  display: flex;
  list-style: none;
  justify-content: left;
}

nav li {
  margin-right: 25px;
  text-decoration: none;
}

nav li a {
  text-decoration: none;
  color: inherit;
}

nav li a:hover{
  color: #007bff;
}

/* HomePage */
.titlepage {
  background-color: rgb(255, 172, 185);
  padding: 20px;
  margin-top: 50px;
}

.ursilogo{
  width: 200px;
}

/* Content */
hr {
  background-color: black;
  border: none;
  height: 1px;
  width: 100%;
  margin: 20px auto;
  margin-bottom: 50px;
}

.mainTitleFormat ul{
  list-style: none;
  text-align: left;
}

.mainTitleFormat h1 {
  font-size: 4.5rem;
}

.mainTitleFormatBox {
  display: flex;
}

.mainTitleFormatBox p {
  width: 20%;
  margin-left: auto;
  text-align: right;
  padding-right: 20px;
}

.scroll-link {
  text-decoration: none;
  position: relative;
  font-size: 2em;
}

.scroll-link::before {
  content: '';
  background-color: hsla(196, 61%, 58%, .75);
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 2px;
  z-index: -1;
  transition: all .3s ease-in-out;
}

.scroll-link:hover::before {
  bottom: 0;
  height: 100%;
}

.mainTextFormat {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-bottom: 50px;
}

.mainTextFormatTitle{
  width: 100%;
  font-size: 1em;
}

.mainTextFormatBox {
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50%
}

.mainTextFormatBox h3 {
  font-size: 2em;
  margin-bottom: 20px;
}

.mainTextFormatBox p{
  margin: 0px;
  font-size: 1.2em;
  overflow-wrap: break-word;
  max-width: 85%;
}

.singleParagraph h3{
  font-size: 3em;
}

.singleParagraph p {
  padding-left: 50px;
  padding-right: 50px;
  text-align: left;
}

/* Content Images */

.graphcaption {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 50px 50px 50px;

  border: 1px solid #ccc; /* Smaller border for the caption box */
  margin-bottom: 50px;
}

.graphcaptionFirst {
  display: flex;
  flex: 1;
  flex-shrink: 1;
}

.graphcaptionSecond {
  display: flex;
  flex: 1;
  flex-shrink: 1;
}

.graphcaptionFirst img{
  max-width: 90%;
  height: auto;
}

.graphcaptionSecond p{
  padding: 40px;
}

.figurecaption {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #ccc; /* Smaller border for the caption box */
  gap: 0px;
  margin-bottom: 50px;
}

.figurecaptionSecond p{
  margin-top: 0px;
}

.figurecaptionFirst img{
  max-width: 90%;
  height: auto;
}

/* Fonts */

.header {
  font-family: Garamond, 'Times New Roman', Times, serif;
}

.text { 
  font-family: Helvetica, Arial, sans-serif, 'Gill Sans', 'Gill Sans MT';
}

.alicia {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* Test Code */

.textbox {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.textbox.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.imageCaption {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.imageCaption.fade-in {
  opacity: 1;
  transform: translateY(0);
}

